:root[data-theme="dark"] {
    --dividerBoxShadowColor: #090b18;
    --textColor: rgb(145, 145, 145);
}

html[data-theme="dark"] body {
    background-color: rgb(33, 33, 34);
}

html[data-theme="dark"] p,
html[data-theme="dark"] h1,
html[data-theme="dark"] h2,
html[data-theme="dark"] h3,
html[data-theme="dark"] li,
html[data-theme="dark"] i:not(.fab) {
    color: var(--textColor);
}

html[data-theme="dark"] .btn:not(.live) {
    border: 2px solid var(--textColor);
    color:  var(--textColor);
}

html[data-theme="dark"] img {
    opacity: .85
}

html[data-theme="dark"] #hero {
    opacity: .85;
}

html[data-theme="dark"] img.headshot {
    opacity: 1;
}

html[data-theme="dark"] #quote {
    background: rgb(31, 45, 83) url('./images/quote2.svg');
    background-size: 200px;
}

html[data-theme="dark"] #quote i,
html[data-theme="dark"] #quote blockquote p,
html[data-theme="dark"] #quote blockquote footer {
    color: var(--textColor);
}

html[data-theme="dark"] .wrapper li img {
    box-shadow: 0 5px 8px var(--dividerBoxShadowColor);
}

html[data-theme="dark"] nav.navbar {
    background: rgb(17, 17, 24);
    color: rgb(202, 202, 202);
}

html[data-theme="dark"] nav.navbar ul li.contact {
    background: rgb(43, 197, 90);
    color: rgb(236, 236, 236);
}

html[data-theme="dark"] section#reel > * {
    background-color: rgb(31, 35, 48);
}

html[data-theme="dark"] section#work {
    background: rgb(39, 43, 49);
}

html[data-theme="dark"] #modal #modalContent {
    background-color: rgb(45, 48, 54);
}

html[data-theme="dark"] #work .whatIDid h2 {
    color: rgb(185, 185, 185);
}

html[data-theme="dark"] #work .whatIDid .tlItem p:not(.date) {
    color: var(--textColor);
}