header#post {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.post-outter {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.post-full {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post-full .post-full-image img {
    width: 100vw;
}

.postauthor {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    height: fit-content;
    width: 75%;
    background-color: rgb(243, 243, 243);
    justify-content: space-between;
    margin-top: 25px;

}

.postauthor .about {
    display: flex;
}

.postauthor .info {
    padding: 10px;
}


.postauthor .support {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3f9dff;
        padding: 15px;
        color: white;
        font-size: 2em;
}

.postauthor .info a {
    color: rgb(36, 165, 251);
    text-decoration: none;
}

.postauthor .info article p {
    margin: 0;
}

.postauthor .info .name {
    font-size: 1.5em;
    margin: 0;
}

.postauthor .about img {
    display: none;
}


.post-content {
    overflow-wrap: break-word;
    width: 75%;
}

.post-content p,
.post-content li {
    line-height: normal;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.post-content h2 {
    font-size: 1.5em;
}

.post-content a {
    color: #2a6fec !important;
}

.postContainer {
    padding: 0 !important;
}

.kg-card {
    display: flex;
    justify-content: center;
}

.kg-card-hascaption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kg-card-hascaption figcaption {
    text-align: center;
    color: rgb(170, 170, 170);
    width: 75%;
}

.post-content .kg-image-card img,
.kg-gallery-image img {
    border-radius: 15px;
    box-shadow: 0 0 5px 1px rgba(141, 141, 141, 0.287);
    margin-bottom: 10px;
}

.post-content .kg-image-card {
    display: flex;
    justify-content: center;
}

.kg-gallery-container {
    display: flex;
    align-items: center;
}

.kg-gallery-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 25px;
}

.kg-gallery-image img {
    height: auto;
}

.kg-bookmark-card {
    width: 100%;
    position: relative;
}

.kg-bookmark-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    color: currentColor;
    font-family: inherit;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.kg-bookmark-container:hover {
    text-decoration: none;
}

.kg-bookmark-content {
    flex-basis: 0;
    flex-grow: 999;
    padding: 20px;
    order: 1;
}

.kg-bookmark-title {
    font-weight: 600;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
    margin-top: .5em;
}

.kg-bookmark-metadata {
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kg-bookmark-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.kg-bookmark-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    margin-right: .5em;
    margin-bottom: .05em;
}

.kg-bookmark-thumbnail {
    display: flex;
    flex-basis: 24rem;
    flex-grow: 1;
}

.kg-bookmark-thumbnail img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    object-fit: cover;
}

.kg-bookmark-author {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.kg-bookmark-publisher::before {
    content: "•";
    margin: 0 .5em;
}

h1#title {
    font-size: 2.5em;
    margin-top: 20px;
    padding: 5px;
    margin-bottom: 0;
}

.kg-width-wide {
    position: relative;
    width: 85vw;
    min-width: 100%;
    margin: auto calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
}

.kg-width-full {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.kg-width-full img {
    border-radius: 0 !important;
}

a.tag {
    border: 2px solid rgb(7, 7, 7);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;   
    margin: 10px;
}

pre {
    padding: 10px;
    background-color: #152e4e;
    border-radius: 5px;
    color: white;
    box-shadow: inset 0 0 4px black;
    overflow-x: scroll;
    margin: 20px;
}

/* width */
pre::-webkit-scrollbar {
    height: 8px;
    overflow: hidden;
}

/* Track */
pre::-webkit-scrollbar-track {
  background: #214370;
  border-radius: 0 0 5px 5px;
}

/* Handle */
pre::-webkit-scrollbar-thumb {
  background: #4472af;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0 0 5px 5px;

}

/* Handle on hover */
pre::-webkit-scrollbar-thumb:hover {
    background: #558acf;
}

#clapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
}

#clapper p {
    margin: 0;
}

@media (min-width: 915px) {
    #clapper {
        flex-direction: row;
        text-align: left;
        align-items: unset;
    }

    #clapper article {
        padding-left: 15px;
    }

    #clapper h2 {
        margin: 0;
    }

    .post-full .post-full-image img {
        width: 65vw;
    }

    .post-content {
        width: 50%;
    }
    
    

    .post-content p,
    .post-content li { 
        line-height: normal;
        font-size: 1.5em;
    }

    .post-content h2 {
        font-size: 1.8em;
    }
    
    .postauthor {
        flex-direction: row;
        width: 50%;
    }

    .postauthor img {
        display: flex !important;
        align-self: center;
        height: 100px;
    }
}