#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    /* opacity: 0; */

    transition: .5s;

    z-index: -1;

}

#modal.show {
    /* opacity: 1; */
    transition: .5s transform;
    z-index: 1000;
}

.modalSide {
    top: -100vh !important;
}

#modal #modalContent {
    width: 75%;
    height: fit-content;
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 0 8px #00000040;
    position: relative;

    transition: .3s;
    transform: scale(0);

}

#modal.show #modalContent {
    transform: scale(1);
    transition: .5s;
    z-index: 800;
}

#modal #modalContent i {
    position: absolute;
    right: 25px;
    color: rgb(168, 168, 168);
    transition: .2s;
    cursor: pointer;
}

#modal #modalContent i:hover {
    color: rgb(199, 36, 36);
    transition: .2s;
}

#modal #modalCloser {
    z-index: 600;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    background-color: rgba(1, 1, 1, 0.25);
}

#modal #modalContent .splitModal .right {
    padding-right: 25px;
}

.buttons {
    margin-top: 20px;
}

#modal #modalContent .splitModal .left {
    display: none;
}

#modal #modalContent img {
    border-radius: 15px;
    width: 100%;
}

h2 {
    margin: 0;
    padding: 0;
}


.status.limited {
    border: 2px solid rgb(233, 116, 20) !important;
    background-color: rgb(246, 82, 6);
    color: white !important;
}

.status.archived {
    border: 2px solid rgb(248, 50, 32) !important;
    background-color: rgb(246, 26, 6);
    color: white !important;
}

.status {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    width: fit-content;
    margin-bottom: 10px;
}

.btn {
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
}
.btn.live {
    border: 2px solid rgb(6, 160, 250);
    color: rgb(6, 160, 250);
    transition: .2s;
}

a.btn {
    text-decoration: none;
}

.btn i {
    position: relative !important;
    right: 0 !important;
    color: inherit !important;
    padding: 8px;
    transition: .2s !important;
}

@media (min-width: 915px) {
    #modal #modalContent .splitModal .left {
        display: block;
    }

    #modal #modalContent .splitModal {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: 25% 75%;
    }

    #modal #modalContent .splitModal.largerImg {
        grid-template-columns: 45% 55%;

    }
}